.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.status {
  margin-bottom: 10px;
  font-size: 24px;
}

.square {
  margin: 1rem;
  border-color: blue;
  width: 80px;
  height: 80px;
  font-size: 48px;
  font-weight: bold;
}
